
<!DOCTYPE html>
<!-- <html lang="en" data-bs-theme="dark"> -->
<html lang="en">  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock %} </title>
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('home.static', filename='assets/css/sidebars.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('home.static', filename='assets/css/styles.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <!-- JavaScript -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
   <!-- Specific Page CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}
    
</head>
<body>
    <div class="container-fluid">
      <div class="row">
      <!--SIDEBAR-->
      {% include 'includes/sidebar.html' %}  
        <div class="col-md-9 offset-md-3 col-lg-10 offset-lg-2 main-content">
          <header class="page-header">
              <span class="page-headline">
                  <span>[Client Logo] <i>"Project Name"</i> Model Viz</span>
                  <img src="{{ url_for('home.static', filename='assets/images/INTERA_logo_white.png') }}" alt="Logo" class="headline-logo">
              </span>
          </header>
        <!--MAIN CONTENT-->
        {% block content %} {% endblock %}
        </div>
     </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('home.static', filename='assets/js/script.js') }}"></script>
    <script src="{{ url_for('home.static', filename='assets/js/sidebars.js') }}"></script>
    <!-- Specific Page JS goes HERE -->
    {% block javascripts %}{% endblock javascripts %}   
</body>
</html>